@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    transition: all 0.3s ease;
}

.darktheme {
    background-color: rgba(5, 5, 35, 0.964) !important;
    color: white !important;
}

.darkthemeY {
    background-color: rgb(6 2 41 / 95%) !important;
    color: #ffffffed;
}

.lightcolor {
    color: rgb(58, 168, 252) !important;

    &:hover {
        color: #2df54d !important;
    }
}

.navbar {
    color: white;
    background: linear-gradient(to right, rgb(12, 2, 54), rgb(11, 1, 57));
    position: sticky;
    top: 0px;
    z-index: 2;

    span {
        font-weight: bold;
        color: rgb(6, 96, 186);
    }

    h1 {
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        transition: all 0.3s ease;
    }
}

.card-content {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.edit {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.4s ease;
    margin: 0px 14px;

    .btn {
        margin: 10px 0;
        transition: all 0.4s ease;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        transform: scale(1.06);
        background-color: rgba(206, 232, 248, 0.18);

        .btn {
            transition: all 0.4s ease;
            background: rgb(13, 127, 241);
            color: black;
        }
    }
}

.accordion-button {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: 900;
    font-size: 1.4rem;

    &:hover {
        color: rgb(7, 81, 200);
        background: #c9edf9;
    }

}


.question-content {
    display: flex;
    border: 1px solid #5c5c5ce3;
    // border-bottom: 0px;
    align-items: center;
    height: 50px;
    transition: all 0.3s ease;

    &:first-child {
        border-radius: 4px 4px 0 0;
    }

    &:last-child {
        border-radius: 0px 0px 4px 4px;
        // border-bottom: 1px solid #5c5c5ce3;
    }

    .checkBOX {
        width: 17px;
        height: 17px;
        margin: 5px 20px;

    }

    .qtitle {
        display: flex;
        padding: 7px 10px;
        width: 40rem;
        font-family: 'Baloo Bhaijaan 2', cursive;
        font-size: 1.5rem;
        color: rgba(8, 8, 8, 0.843);
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: rgba(10, 78, 204, 0.971);
        transition: all 0.3s ease;
        font-weight: 500;

        &:hover {
            transition: all 0.3s ease;
            color: black;
        }
    }
}

.default {
    background: lightgreen;
    border: 1px solid #DDDDDD;
    color: #333333;
}

#sortable-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
}

#sortable-1 li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 17px;
    height: 16px;
}

.color {
    transition: all 0.5s ease;
    // background: linear-gradient(to right, #4df8bcd5, #11f834fd);
    background: linear-gradient(to left, #12fbaad5, #5cffc6c9, transparent);
}

.count {
    color: black;
    position: absolute;
    left: 50%;
}

.form-switch {
    font-size: 1.3rem;
}

@media only screen and (max-width: 450px) {
    .count {
        display: none;
    }

    .card-content {
        display: flex;
        flex-direction: column;

        .edit {
            margin: 10px auto;
        }
    }

    .question-content {
        a {
            font-size: 0.8rem;
        }

        .qtitle {
            border-left: none;
            border-right: none;
            max-width: 90px;
        }
    }
}